body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}
.game-container {
    text-align: center;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}
input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}
#result {
    font-weight: bold;
    margin-top: 20px;
}

.message.success {
    color: green;
}

.message.error {
    color: red;
}

.message.info {
    color: blue;
}

/* Animation de clignotement */
@keyframes clignoter {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Classe à ajouter pour faire clignoter le texte */
.clignoter {
    animation: clignoter 1s infinite; /* Animation de 1 seconde, en boucle infinie */
}